$font-base: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;

$rojo-oscuro: rgb(71, 6, 6);
$rojo-principal: rgb(177, 33, 33);
$rosa-fondo: rgb(248, 179, 179);
$rosa-mq: rgb(245, 168, 168);
